body {
    background-color:#02feff ;
}
h2 {
    border-style:double ;
    padding: 2rem ;
    text-align: center;

}
button {
    cursor: pointer;
}
.no-border {
    border: none;
    background: none;
    color:blue;
    text-decoration: underline;
   
}
